asgiref==3.8.1
certifi==2024.6.2
cffi==1.16.0
charset-normalizer==3.3.2
cryptography==42.0.8
Django==5.0.6
django-allauth==0.63.3
easy-thumbnails==2.8.5
idna==3.7
pillow==10.3.0
pycparser==2.22
PyMySQL==1.1.1
requests==2.32.3
sorl-thumbnail==12.10.0
sqlparse==0.5.0
tzdata==2024.1
urllib3==2.2.1