/* static/shop/style.css */

/* General reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Main layout */
body {
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    width: 50px; /* Adjust the width as necessary */
    background-color: #f4f4f4;
    padding: 10px;
    flex-shrink: 0; /* 사이드바가 컨텐츠보다 작아지지 않도록 고정 */
}

.content {
    flex: 1;
    padding: 20px;
    overflow: auto;
}

.logo-space {
    height: 100px; /* Adjust as necessary */
    background-color: #ccc;
}

.side-top,
.side-category {
    margin-top: 20px;
}

.side-top ul,
.side-category ul {
    list-style-type: none;
}

.side-top ul li,
.side-category ul li {
    margin-bottom: 10px;
}

.side-top ul li a,
.side-category ul li a {
    text-decoration: none;
    color: #000;
}

.side-top ul li a:hover,
.side-category ul li a:hover {
    color: #007bff;
}

.account ul {
    list-style-type: none;
}

.account ul li {
    margin-bottom: 10px;
}

.account ul li a {
    text-decoration: none;
    color: #000;
}

.account ul li a:hover {
    color: #007bff;
}

/* Ensure the form elements fit within the content area */
form * {
    max-width: 100%;
}

button {
    margin-top: 20px;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

h2 {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}
