/* General sidebar styles */
.sidebar {
    width: 250px;
    background-color: #f8f9fa;
    position: fixed;
    height: 100%;
    overflow: auto;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
}
.logo { /* WCB cafe 로고 이미지 */
    width: 210px;
    margin-top: 14px;
}
/* Logo space */
.logo-space {
    height: 60px;
    background: #343a40;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-space img {
    max-height: 40px;
}

/* Account section */
.account ul {
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

.account ul li {
    margin: 10px 0;
}

.account ul li a {
    color: #007bff;
    text-decoration: none;
    padding: 10px;
    display: block;
    border-radius: 5px;
}

.account ul li a:hover {
    background-color: #e9ecef;
    color: #0056b3;
}

/* Category section */
.side-category {
    margin-top: 20px;
}

.side-category ul {
    list-style: none;
    padding: 0;
}

.side-category ul li {
    margin: 10px 0;
}

.side-category ul li a {
    color: #495057;
    text-decoration: none;
    padding: 10px;
    display: block;
    border-radius: 5px;
}

.side-category ul li a:hover {
    background-color: #e9ecef;
    color: #343a40;
}
