/* General Styles */
body {
    font-family: Arial, sans-serif;
}

.content {
    width: 80%;
    margin: 0 auto;
}

h2 {
    text-align: center;
    margin: 20px 0;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: inline-block;
    margin: 10px;
}

/* Slide Styles */
.slide, .weekly_slide .slide_item, .new_arrival .new_arrival_list {
    white-space: nowrap;
    overflow: hidden;
    position: relative;
}

.slide ul, .slide_item ul, .new_arrival_list {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide img, .slide_item img, .new_arrival img {
    display: inline-block;
    vertical-align: top;
}
