<!-- templates/left_side.html -->
{% load static %}
<link rel="stylesheet" href="{% static 'shop/left-side1.css' %}" type="text/css">

<div class="sidebar">
    <div class="logo-space">
        <header class="page-header wrapper">
            <h1><a href="{% url 'account_signup' %}"><img class="logo" src="{% static 'shop/images/logo.svg' %}" alt="WCB CAFE"></a></h1>
        </header>
    </div>
    <div class="side-top">
        <div class="account">
            <ul>
                {% if user.is_active %}
                    <li><a href="{% url 'account_logout' %}">LOGOUT</a></li>
                    <li><a href="{% url 'shop:profile' user.pk %}">MY PAGE</a></li>
                    <li><a href="{% url 'shop:cart' user.pk %}">CART</a></li>
                {% else %}
                    <li><a href="{% url 'account_login' %}">LOGIN</a></li>
                    <li><a href="{% url 'account_signup' %}">SIGN UP</a></li>
                {% endif %}
            </ul>
        </div>

    </div>
    <div class="side-category">
        <ul>
            {% for category in categories %}
                <li><a href="{% url 'shop:show_category' category.pk %}">{{ category.sort }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>
