{% extends "shop/../account/base.html" %}

{% block title %}
    {{ product.name }}
{% endblock title %}

{% block content %}
    {% load static %}
    {% load thumbnail %}
    <link rel="stylesheet" type='text/css' href="{% static 'shop/style.css' %}">
    <div class="content">
        <div class="detailArea">
            <div class="product_img_area">
                <div class="key_img">
                    {% if product.image %}
                        {% thumbnail product.image "400x400" crop="center" as im %}
                            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{ product.name }}">
                        {% endthumbnail %}
                    {% else %}
                        <img src="{% static 'shop/default.jpg' %}" width="400" height="400" alt="{{ product.name }}">
                    {% endif %}
                </div>
            </div>
            <div class="infoArea">
                <h3>{{ product.name }}</h3>
                <div class="detailinfo">
                    <p>{{ product.description }}</p>
                </div>
                <div class="detail_payment">
                    <table>
                        <tbody>
                            <tr>
                                <th><span>PRICE</span></th>
                                <td><span><strong>{{ product.price }} 원</strong></span></td>
                            </tr>
                            <tr>
                                <th><span>POINT</span></th>
                                <td><span><strong>{{ point }} 원</strong></span></td>
                            </tr>
                        </tbody>
                    </table>
                    {% if product.quantity > 0 %}
                        <form action="{% url 'shop:cart_or_buy' product.pk %}" method="POST">
                            <table>
                                <tbody class="product_option">
                                    <tr class="product_quantity">
                                        <th>수량</th>
                                        <td>
                                            <select name="quantity">
                                                {% for quantity in quantity_list %}
                                                    <option value="{{ quantity }}">{{ quantity }}</option>
                                                {% endfor %}
                                            </select>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="payment">
                                <div class="btnArea">
                                    <ul>
                                        <li class="cart">
                                            <button type="submit" name="add_cart" value="add_cart">+ ADD SHOPPING CART</button>
                                            {% csrf_token %}
                                        </li>
                                        <li class="buy">
                                            <button type="submit" name="buy" value="buy_it_now">BUY IT NOW</button>
                                            {% csrf_token %}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </form>
                    {% else %}
                        <table>
                            <tbody class="product_option">
                                <tr class="product_quantity">
                                    <th>SOLD OUT</th>
                                </tr>
                            </tbody>
                        </table>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
