{% load static %}
{% load thumbnail %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Right Side Content</title>
    <link rel="stylesheet" href="{% static 'shop/right-sides.css' %}" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css">
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.4/TweenMax.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
    <script src="{% static 'shop/top_slide_controller.js' %}" type="text/javascript"></script>
    <script src="{% static 'shop/weekly_slide.js' %}" type="text/javascript"></script>
</head>
<body>
    <div class="content">
        <div id="slider-div" class="slide">
            <div><img src="{% static 'shop/images/1.jpg' %}" alt="Slide 1"></div>
            <div><img src="{% static 'shop/images/2.jpg' %}" alt="Slide 2"></div>
            <div><img src="{% static 'shop/images/3.jpg' %}" alt="Slide 3"></div>
            <div><img src="{% static 'shop/images/4.jpg' %}" alt="Slide 4"></div>
            <div><img src="{% static 'shop/images/5.jpg' %}" alt="Slide 5"></div>
        </div>
        <a href="{% url 'shop:register_product' %}">Register Product</a>

        <div id="weekly-slider" class="weekly_slide">
            <h2>
                <span>- WEEKLY BEST PRODUCTS -</span>
            </h2>
            <div class="slide_item">
                <ul>
                    {% for product in lank_products %}
                        {% thumbnail product.image "200x200" crop="center" as im %}
                            <div><img src="{{ im.url }}" alt="{{ product.name }}" width="{{ im.width }}" height="{{ im.height }}"></div>
                        {% endthumbnail %}
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div id="new-arrival-slider" class="new_arrival">
            <h2>
                <span>- NEW ARRIVAL -</span>
            </h2>
            <ul class="new_arrival_list">
                {% for product in products %}
                    {% thumbnail product.image "370x370" crop="center" as im %}
                        <div><img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{ product.name }}"></div>
                    {% endthumbnail %}
                {% endfor %}
            </ul>
        </div>
    </div>

    <script>
        $(function(){
            $('#slider-div').slick({
                slide: 'div',		
                infinite: true, 	
                slidesToShow: 4,		
                slidesToScroll: 1,		
                speed: 100,	 
                arrows: true, 		
                dots: true, 		
                autoplay: true,			
                autoplaySpeed: 10000, 		
                pauseOnHover: true,		
                vertical: false,		
                prevArrow: "<button type='button' class='slick-prev'>Previous</button>",		
                nextArrow: "<button type='button' class='slick-next'>Next</button>",		
                dotsClass: "slick-dots", 	
                draggable: true, 	
                responsive: [ 
                    {  
                        breakpoint: 960,
                        settings: {
                            slidesToShow: 3 
                        } 
                    },
                    { 
                        breakpoint: 768,
                        settings: {	
                            slidesToShow: 2 
                        } 
                    }
                ]
            });

            $('#weekly-slider .slide_item').slick({
                slide: 'div',
                infinite: true,
                slidesToShow: 4,
                slidesToScroll: 1,
                speed: 100,
                arrows: true,
                dots: true,
                autoplay: true,
                autoplaySpeed: 10000,
                pauseOnHover: true,
                vertical: false,
                prevArrow: "<button type='button' class='slick-prev'>Previous</button>",
                nextArrow: "<button type='button' class='slick-next'>Next</button>",
                dotsClass: "slick-dots",
                draggable: true,
                responsive: [
                    {
                        breakpoint: 960,
                        settings: {
                            slidesToShow: 3
                        }
                    },
                    {
                        breakpoint: 768,
                        settings: {
                            slidesToShow: 2
                        }
                    }
                ]
            });

            $('#new-arrival-slider .new_arrival_list').slick({
                slide: 'div',
                infinite: true,
                slidesToShow: 4,
                slidesToScroll: 1,
                speed: 100,
                arrows: true,
                dots: true,
                autoplay: true,
                autoplaySpeed: 10000,
                pauseOnHover: true,
                vertical: false,
                prevArrow: "<button type='button' class='slick-prev'>Previous</button>",
                nextArrow: "<button type='button' class='slick-next'>Next</button>",
                dotsClass: "slick-dots",
                draggable: true,
                responsive: [
                    {
                        breakpoint: 960,
                        settings: {
                            slidesToShow: 3
                        }
                    },
                    {
                        breakpoint: 768,
                        settings: {
                            slidesToShow: 2
                        }
                    }
                ]
            });
        });
    </script>
</body>
</html>
